# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Variáveis de ambiente
.env

# Configuração de editores
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db